/* COMMON CSS START */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
  line-height: 0.8;
}

/* COMMON CSS END */

/* Basic styles for the navigation bar */
.navbar {
  background-color: #0d4497;
  color: #fff;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.bar-mor {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}


/* Styles for the mobile menu */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 50%;
    text-align: center;
    padding: 20px 0;
    background-color: #3656e7;
  }

  .menu.show {
    display: flex;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .bar-mor {
    display: block;
  }

  .bar-mor.active .bar:nth-child(2) {
    opacity: 0;
  }

  .bar-mor.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bar-mor.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}